/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   DAIVA's custom styles
   ========================================================================== */

body{
    background-color: #202020;
    
}

/*/// INIT MENU MANDALA ///*/

    #windowMenuWrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;

        background: #101010; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #101010 0%, #202020 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#101010), color-stop(100%,#202020)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, #101010 0%,#202020 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #101010 0%,#202020 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, #101010 0%,#202020 100%); /* IE10+ */
        background: radial-gradient(ellipse at center, #101010 0%,#202020 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#202020',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    #menuWrapper{
        position: absolute;
        width: 700px;
        height: 700px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
           -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
             -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    #Mandala{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    /*/// INIT Maqueta Anillos por Secciones ///*/

        #portafolioStage{
            position: absolute;
            width: 100%;
            height: 100%;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.6;

            border-radius: 50%;

            -webkit-transition: opacity 0.6s, -webkit-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
               -moz-transition:    opacity 0.6s, -moz-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
                -ms-transition:     opacity 0.6s, -ms-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
                 -o-transition:      opacity 0.6s, -o-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
                    transition:         opacity 0.6s, transform 0.6s cubic-bezier(.5,-1,.5,1.3);

        }

        #pilaresStage{
            position: absolute;
            width: 72%;
            height: 72%;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.5;

            border-radius: 50%;

            -webkit-transition: opacity 0.6s, -webkit-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
               -moz-transition:    opacity 0.6s, -moz-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
                -ms-transition:     opacity 0.6s, -ms-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
                 -o-transition:      opacity 0.6s, -o-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
                    transition:         opacity 0.6s, transform 0.6s cubic-bezier(.5,-1,.5,1.3);
        }

        #comienzoStage{
            position: absolute;
            width: 45%;
            height: 45%;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.3;

            border-radius: 50%;

            -webkit-transition: opacity 0.6s, -webkit-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
               -moz-transition:    opacity 0.6s, -moz-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
                -ms-transition:     opacity 0.6s, -ms-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
                 -o-transition:      opacity 0.6s, -o-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
                    transition:         opacity 0.6s, transform 0.6s cubic-bezier(.5,-1,.5,1.3);
        }

        #voidStage{
            position: absolute;
            width: 20%;
            height: 20%;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.1;

            border-radius: 50%;

            -webkit-transition: opacity 0.6s, -webkit-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
               -moz-transition:    opacity 0.6s, -moz-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
                -ms-transition:     opacity 0.6s, -ms-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
                 -o-transition:      opacity 0.6s, -o-transform 0.6s cubic-bezier(.5,-1,.5,1.3);
                    transition:         opacity 0.6s, transform 0.6s cubic-bezier(.5,-1,.5,1.3);
        }

    /*/// END Maqueta Anillos por Secciones ///*/




    /*/// INIT Animación Hover de Anillos Principales ///*/
        #portafolioStage:hover {
            -webkit-transform: scale(1.05,1.05);
               -moz-transform: scale(1.05,1.05);
                -ms-transform: scale(1.05,1.05);
                 -o-transform: scale(1.05,1.05);
                    transform: scale(1.05,1.05);

            opacity: 1;
        }

        #pilaresStage:hover {
            -webkit-transform: scale(1.06,1.06);
               -moz-transform: scale(1.06,1.06);
                -ms-transform: scale(1.06,1.06);
                 -o-transform: scale(1.06,1.06);
                    transform: scale(1.06,1.06);

            opacity: 1;
        }

        #comienzoStage:hover {
            -webkit-transform: scale(1.08,1.08);
               -moz-transform: scale(1.08,1.08);
                -ms-transform: scale(1.08,1.08);
                 -o-transform: scale(1.08,1.08);
                    transform: scale(1.08,1.08);

            opacity: 1;
        }

    /*/// END Animación Hover de Anillos Principales ///*/




    /*/// INIT Tamaño de los Anillos con el nombre de la sección a la que te llevan ///*/

        #portafolioStage .sectionMandala{
            width: 90%;
            height: 90%;
        }

        #pilaresStage .sectionMandala{
            width: 88%;
            height: 88%;
        }

        #comienzoStage .sectionMandala{
            width: 80%;
            height: 80%;
        }

        #voidStage .sectionMandala{
            width: 75%;
            height: 75%;
        }

        .sectionMandala{
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            border-radius: 50%;
        }

    /*/// END Tamaño de los Anillos con el nombre de la sección a la que te llevan ///*/



    /*/// INIT Outline Ring Decoration (Maqueta y Bg's) ///*/

        .outlineRing{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            -webkit-animation: rotateLeft linear infinite;
               -moz-animation: rotateLeft linear infinite;
                -ms-animation: rotateLeft linear infinite;
                 -o-animation: rotateLeft linear infinite;
                    animation: rotateLeft linear infinite;
        }



        #portafolioStage .outlineRing {
            background-image: url('../img/menu/ring1-menu.svg');
        }

        #pilaresStage .outlineRing {
            background-image: url('../img/menu/ring2-menu.svg');
        }

        #comienzoStage .outlineRing {
            background-image: url('../img/menu/ring3-menu.svg');
        }

        #voidStage .outlineRing {
            background-image: url('../img/menu/ring4-menu.svg');
        }

    /*/// END Outline Ring Decoration (Maqueta y Bg's) ///*/



    /*/// INIT Bg Image de Niveles (Portafolio, Pilares, Comienzo), Animation Duration también ///*/

        #portafolio{
            background-image: url('../img/menu/portafolio-menu.svg');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        #pilares{
            background-image: url('../img/menu/pilares-menu.svg');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        #comienzo{
            background-image: url('../img/menu/comienzo-menu.svg');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

    /*/// END Bg Image de Niveles (Portafolio, Pilares, Comienzo), Animation Duration también ///*/





    /*/// INIT Rotation Function Classes ///*/


        .rotateLeft{
            -webkit-animation: rotateLeft linear infinite;
               -moz-animation: rotateLeft linear infinite;
                -ms-animation: rotateLeft linear infinite;
                 -o-animation: rotateLeft linear infinite;
                    animation: rotateLeft linear infinite;
        }

        @keyframes rotateLeft{
            0%{
                -webkit-transform: rotate(0deg);
                   -moz-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                     -o-transform: rotate(0deg);
                        transform: rotate(0deg);
            }

            100%{
                -webkit-transform: rotate(-360deg);
                   -moz-transform: rotate(-360deg);
                    -ms-transform: rotate(-360deg);
                     -o-transform: rotate(-360deg);
                        transform: rotate(-360deg);
            }
        }

        .rotateRight{
            -webkit-animation: rotateRight linear infinite;
               -moz-animation: rotateRight linear infinite;
                -ms-animation: rotateRight linear infinite;
                 -o-animation: rotateRight linear infinite;
                    animation: rotateRight linear infinite;
        }

        @keyframes rotateRight{
            0%{
                -webkit-transform: rotate(0deg);
                   -moz-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                     -o-transform: rotate(0deg);
                        transform: rotate(0deg);
            }

            100%{
                -webkit-transform: rotate(360deg);
                   -moz-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                     -o-transform: rotate(360deg);
                        transform: rotate(360deg);
            }
        }


        .rotationSpeed20{
            -webkit-animation-duration: 20s;
               -moz-animation-duration: 20s;
                -ms-animation-duration: 20s;
                 -o-animation-duration: 20s;
                    animation-duration: 20s;
        }

        .rotationSpeed40{
            -webkit-animation-duration: 40s;
               -moz-animation-duration: 40s;
                -ms-animation-duration: 40s;
                 -o-animation-duration: 40s;
                    animation-duration: 40s;
        }

        .rotationSpeed60{
            -webkit-animation-duration: 60s;
               -moz-animation-duration: 60s;
                -ms-animation-duration: 60s;
                 -o-animation-duration: 60s;
                    animation-duration: 60s;
        }

        .rotationSpeed80{
            -webkit-animation-duration: 80s;
               -moz-animation-duration: 80s;
                -ms-animation-duration: 80s;
                 -o-animation-duration: 80s;
                    animation-duration: 80s;
        }

        .rotationSpeed100{
            -webkit-animation-duration: 100s;
               -moz-animation-duration: 100s;
                -ms-animation-duration: 100s;
                 -o-animation-duration: 100s;
                    animation-duration: 100s;
        }

    /*/// END Rotation Function Classes ///*/


    /*/// INIT Leave Menu JS Toggle Classes ///*/

        .pullRing{
            -webkit-transform: scale(1.2,1.2) !important;
               -moz-transform: scale(1.2,1.2) !important;
                -ms-transform: scale(1.2,1.2) !important;
                 -o-transform: scale(1.2,1.2) !important;
                    transform: scale(1.2,1.2) !important;
            opacity: 0 !important;
        }

        .pushRing{
            -webkit-transform: scale(0.8,0.8) !important;
               -moz-transform: scale(0.8,0.8) !important;
                -ms-transform: scale(0.8,0.8) !important;
                 -o-transform: scale(0.8,0.8) !important;
                    transform: scale(0.8,0.8) !important;
            opacity: 0 !important;
        }
        
    /*/// END Leave Menu JS Toggle Classes ///*/

/*/// END MENU MANDALA ///*/





/*/// INIT MENU NAV ///*/
    #menuNavWrapper{
        position: fixed;
        right: 60px;
        top: 70px;
        width: 110px;
        height: 29px;
        z-index: 1000000;
    }

    #menuNavWrapper ul, #menuNavWrapper ul li{
        list-style-type: none;
        float: left;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    #contactBox{
        position: absolute;
        left: 0px;
        cursor: pointer;
    }

    #burguerBox{
        position: absolute;
        right: 0px;
        cursor: pointer;
    }

/*/// END MENU NAV ///*/





/*/// INIT HOME STYLE ///*/

    
    /*/// INIT HOME WRAPPERS STYLE ///*/
        #windowHomeWrapper{
            position: absolute;
            width: 100%;
            height: 100%;
        }

        #homeWrapper{
            position: absolute;
            width: 100%;
            height: 800vh;
            min-height: 4800px;
        }

        .homeSections{
            position: relative;
            width: 100%;
        }

        #homeSection1{
            height: 25%;
        }

        #homeSection2{
            height: 25%;
        }

        #homeSection3{
            height: 37.5%;
        }

        #homeSection4{
            height: 12.5%;
        }



        /*#homeLandingWrapper{
            background-color: red;
        }*/

        /*#homeTimelapseWrapper{
            background-color: red;
        }*/

        /*#homeQuoteWrapper1{
            background-color: red;
        }*/

        /*#homeQuoteWrapper2{
            background-color: red;
        }*/

        /*#homeQuoteWrapper3{
            background-color: red;
        }*/

        /*#homePortalWrapper{
            background-color: red;
        }*/



        

        /*/// INIT HOME SECTION DIVISIONS HELPER ///*/
            .fullHomeSection{
                position: relative;
                width: 100%;
                height: 100%;
            }

            .halfHomeSection{
                position: relative;
                width: 100%;
                height: 50%;
            }

            .thirdHomeSection{
                position: relative;
                width: 100%;
                height: 33.33%;
            }
        /*/// END HOME SECTION DIVISIONS HELPER ///*/






        /*/// INIT HOME LANDING WRAPPER ///*/
            #svgHomeWrapper{
                position: absolute;
                width: 100%;
                height: 100%;

            }

            #logoLanding{
                position: absolute;
                width: 284px;
                height: 284px;

                margin: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            #scrollLanding{
                position: absolute;
                bottom: 10px;
                width: 33px;
                height: 80px;
                margin: auto;
                right: 0;
                left: 0;
            }


        /*/// END HOME LANDING WRAPPER ///*/





        /*/// INIT HOME TIMELAPSE WRAPPER ///*/

            #homeSection2{
                background-color: #fff;
            }


            #homeTimelapseWrapper{
                background-color: #fff;
                -webkit-clip-path: polygon(0% 80px, 100% 0%, 100% 100%, 0% 100%);
                   -moz-clip-path: polygon(0% 80px, 100% 0%, 100% 100%, 0% 100%);
                    -ms-clip-path: polygon(0% 80px, 100% 0%, 100% 100%, 0% 100%);
                     -o-clip-path: polygon(0% 80px, 100% 0%, 100% 100%, 0% 100%);
                        clip-path: polygon(0% 80px, 100% 0%, 100% 100%, 0% 100%);
                top: -80px;
                
            }

            #homeTimelapseLogo{
                position: relative;
                width: 230px;
                height: 230px;
                margin: auto;
                right: 0;
                left: 0;
                top: 300px;
                z-index: 10;
            }

            #homeTimelapseMaskWrapper{
                position: relative;
                width: 100%;
                height: 43.1vw;
                min-height: 600px;
                top: 300px;
            }

                /*#homeTimelapseMaskWrapper iframe{
                    position: absolute;
                    width: 99%;
                    height: 99%;
                    margin: auto;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }*/

                #homeTimelapseMask{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                #homeTimelapseMask img{
                    width: 100%;
                    height: 100%;
                }

            #homeTimelapseSvg{
                position: relative;
                width: 412px;
                height: 30px;
                margin: auto;
                top: 300px;
                right: 0;
                left: 0;
            }

                #leftArrow{
                    position: absolute;
                    right: 221px;
                }

                #homeTimelapseRombo{
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    margin: auto;
                    right: 0;
                    left: 0;
                }

                #rightArrow{
                    position: absolute;
                    left: 221px;
                }

            #homeTimelapseProject{
                position: relative;
                width: 412px;
                height: 75px;
                margin:auto;
                top: 300px;
                right: 0;
                left: 0;
            }




        /*/// END HOME TIMELAPSE WRAPPER ///*/





        /*/// INIT HOME QUOTES WRAPPER ///*/

            #homeSection3{
                background-color: orange;
            }

            .quoteBoxCenter{
                position: absolute;
                width: 742px;
                height: 255px;
                margin:auto;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;

                background-color: purple;
            }

        /*/// END HOME QUOTES WRAPPER ///*/





        /*/// INIT HOME PORTAL WRAPPER ///*/

        /*/// END HOME PORTAL WRAPPER ///*/
        


    /*/// END HOME WRAPPERS STYLE ///*/



/*/// END HOME STYLE ///*/

















/*/// MOBILE CSS DOCUMENT ///*/

    /*/// MOBILE ALL STYLE///*/

        @media (max-width: 767px){
        /*/// INIT MENU MANDALA ///*/

            #menuWrapper{
                width: 400px;
                height: 400px;
            }

        /*/// END MENU MANDALA ///*/
        }

    /*/// END MOBILE ALL STYLE///*/



    /*/// MOBILE ORIENTATION STYLE///*/

        /*/// MOBILE PORTRAIT STYLE///*/

            @media (max-width: 767px) and (orientation: portrait){
            /*/// INIT MENU MANDALA ///*/


            /*/// END MENU MANDALA ///*/
            }

        /*/// END MOBILE PORTRAIT STYLE///*/




        /*/// MOBILE LANDSCAPE STYLE///*/
        
            @media (max-width: 767px) and (orientation: landscape){
            /*/// INIT MENU MANDALA ///*/


            /*/// END MENU MANDALA ///*/
            }

        /*/// END MOBILE LANDSCAPE STYLE///*/



    /*/// END MOBILE ORIENTATION STYLE///*/

/*/// END MOBILE CSS DOCUMENT ///*/

















































































/* ==========================================================================
   Helper classes
   ========================================================================== */

.glass-menu{
    position: fixed;
    
    width: 100%;
    height: 100%;
    z-index: 1000000000;

    /*background-image: url('../img/animation/portal-mascaras.svg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;*/
}






/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
